@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* SIDEBAR */
    .sidebar-item {
        @apply flex items-center gap-3 px-4 py-4 rounded-md transition-all duration-200 text-primary/30;
    }

    .sidebar-item.active {
        @apply text-primary font-bold;
    }

    .sidebar-item-icon {
        @apply size-5;
    }

    .sidebar-item-text {
        @apply text-xl mt-[1px];
    }

    .purple-shape-container {
        position: relative;
    }

    .purple-shape-border {
        position: absolute;
        inset: 0;
        background: black;
        /* Border color */
        clip-path: polygon(10.2% 0%, 100% 0%, 100% 100%, 2.4% 100%, 12.3% 90.3%, 12% 66.3%, 16.2% 40.3%, 16.1% 28%, 0% 16.3%);
        /* Makes it slightly larger to create border effect */
        z-index: 1;
    }

    .purple-shape {
        position: relative;
        background-color: theme('colors.purple.500');
        clip-path: polygon(10.2% 0%, 100% 0%, 100% 100%, 2.4% 100%, 12.3% 90.3%, 12% 66.3%, 16.2% 40.3%, 16.1% 28%, 0% 16.3%);
        z-index: 2;
    }



}

.cl-internal-17dpwu0,
.cl-internal-c2xpfh {
    box-shadow: none !important;
}

.cl-internal-13lvar6 {
    background: white;
}



@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}


.floating-tag {
    animation: float 6s ease-in-out infinite;
    animation-delay: calc(var(--index) * 0.5s);
}